body, html {
    background-color: #F0F0F0;
    font-family: Anton;
}
h1 {
    font-size: 48px;
}
section {
    display: flex;
    justify-content: flex-start;
}
div .col-sm-6>img {
    box-shadow: 0 0 1px 10px #E6E6E6;
}
/*.container {*/
    /*margin: 1%, auto;*/
/*}*/
.container>img {
    position: absolute;
    border-radius: 60%;
    left: 60px;
}
.navbar {
    font-family: Abel;
    margin-top: 2em;
    flex-wrap: wrap-reverse;
}

.box-size {
    background-color: #e6563b;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    border: .5em solid white;
    position: relative;
    /*bottom: 40px;*/ /*remove this*/
    /*left: 40px;*/
    font-size: 26px;
    color: white;
}
.c2 {
    background-color: #EB9D3A;
}
.c3 {
    background: #7CB06C;
}
.c4 {
    background-color: #00ABA9;
}
.lab-pos {
    position: relative;
    top: 50px;

}
.media>img {
    width: 80px;
    height: 80px;
}
