/*Mobile*/
@media screen and (min-width: 380px) {
    /*body added recommend not to add height and weight because it can not change the format*/
    h1 {
        text-align: center;
        font-size: 70px;
        margin: 0;
    }

    li {
        background-color: rgb(204 204 204);
        text-align: center;
        font-size: 30px;
        margin: 2% 0 2% 0;
        padding: 8px;
    }

    footer {
        clear: both;
    }

    .alert-info,
    .hidden-on-desktop {
        background-color: rgb(214 254 254);
        border: 2px solid rgb(204 204 204);
        text-align: center;
        padding: 3%;

    }

    .alert-info a {
        color: black;
        text-decoration: none;
    }

    .nav-links {
        list-style: none;
        text-align: center;
    }

    .header-img {
        position: relative;
        left: 5%
    }

    .sub-section {
        font-style: italic;
        margin: 10% 0 5% 0;
    }
}


/*Desktop*/

@media screen and (min-width:934px) {

    h1 {
        text-align: right;
        float: left;
        margin: 2% 5% 0 5%;

    }
    li {
        padding: 1em;
        text-align: right;
        font-size: medium;
        display: inline;
        background-color: white;
    }

    footer{
        clear: both;
        margin: 0 5% 0 5%;
    }

    .alert-info,
    .hidden-on-desktop {
        display: none;
    }

    .nav-links {
        float: right;
        list-style: none;
        display: inline;
    }

    .header-img img {
        float: top;
        /*width: 100%;*/
    }

    .main {
        position: absolute;
        margin: 0 5% 0 5%;
        width: 50%;
    }

    .sub-section{
        float: right;
        width: 30%;
        margin: 0;
    }



}
