body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
/*}*/
/** {*/
    /*background-color: red; this adds it to all the page*/
/*}*/

.message {
    width: 600px;
    margin: 2px 0;
    border-style: none; /*you can use border: 1px solid lighgrey; for this exercise*/
    border-radius: 5px;
}

.message-info {
    background: rgb(208	222	252)	;
    color: rgb(82	83	162	);
}

.message-success {
    background-color: rgb(214	242	220	);
}

.message-warning {
    background-color: rgb(250	248	204	);
}

.message-error {
    background-color: rgb(243	212	214	);
}